In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('covid.csv')

In [3]:
df.head(5)

,Date,ID,y,Age,Sex,Hematocrit,Hemoglobin,RedBloodCells,Leukocytes,Platelets,...,Monocytes,Monocytes%,Lymphocytes,Lymphocytes%,Eosinophils,Eosinophils%,Basophils,Basophils%,Neutrophils,Neutrophils%
0,2019-11-01,031c2dbbb442fbf34f10b8ae8c449f20e3e28879,0,52.3,F,36.8,12.9,4.25,6.13,220,...,313,5.1,1833,29.9,270,4.4,49,0.8,3653,59.6
1,2019-11-01,07cc82b2ac0e5f5c9506f66925c2fab9a49bb2bd,0,58.3,M,44.4,14.9,4.89,5.99,148,...,288,4.8,779,13.0,78,1.3,30,0.5,4816,80.4
2,2019-11-01,0beed42a87bf4a0727f371273d6fb50610da2ede,0,69.3,M,39.7,13.5,4.44,7.42,130,...,579,7.8,2078,28.0,89,1.2,59,0.8,4615,62.2
3,2019-11-01,10af03c78251959c15d84bb8118f8dc38121ce8a,0,29.3,M,40.3,14.3,4.71,6.03,204,...,368,6.1,2430,40.3,90,1.5,42,0.7,3087,51.2
4,2019-11-01,10b7bd07f47e984a595b2b5be1e0500265964123,0,38.3,M,45.4,15.3,5.37,8.92,157,...,517,5.8,1276,14.3,98,1.1,18,0.2,7011,78.6

In [5]:
df.shape

(14681, 25)

In [8]:
df.dtypes

Date              object
ID                object
y                  int64
Age              float64
Sex               object
Hematocrit       float64
Hemoglobin       float64
RedBloodCells    float64
Leukocytes       float64
Platelets          int64
MPV              float64
MCV              float64
MCHC             float64
MCH              float64
RDW              float64
Monocytes          int64
Monocytes%       float64
Lymphocytes        int64
Lymphocytes%     float64
Eosinophils        int64
Eosinophils%     float64
Basophils          int64
Basophils%       float64
Neutrophils        int64
Neutrophils%     float64
dtype: object

In [4]:
df.groupby('y').size()

y
0    12664
1     2017
dtype: int64

In [7]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by= 'count', ascending = False)

               count    %
Date               0  0.0
MCH                0  0.0
Neutrophils        0  0.0
Basophils%         0  0.0
Basophils          0  0.0
Eosinophils%       0  0.0
Eosinophils        0  0.0
Lymphocytes%       0  0.0
Lymphocytes        0  0.0
Monocytes%         0  0.0
Monocytes          0  0.0
RDW                0  0.0
MCHC               0  0.0
ID                 0  0.0
MCV                0  0.0
MPV                0  0.0
Platelets          0  0.0
Leukocytes         0  0.0
RedBloodCells      0  0.0
Hemoglobin         0  0.0
Hematocrit         0  0.0
Sex                0  0.0
Age                0  0.0
y                  0  0.0
Neutrophils%       0  0.0